# OS
.DS_Store

# React Native / Node
node_modules/
npm-debug.log*
yarn-error.log*

# Android
android/app/build/
android/build/
.gradle/
local.properties
*.keystore
!debug.keystore

# iOS
ios/Pods/
ios/build/

# IDE
.idea/
*.iml

# Env
.env
.env.*

# Fastlane
**/fastlane/screenshots
**/fastlane/test_output

# Metro
.metro-health-check*

# Bundle
*.jsbundle